@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap');

body {
    background-color: #222831;
}

.container {
    width: 300px;
    background-color: #393e46;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: -2px -2px 8px rgba(220, 220, 220, 0.3), 5px 5px 8px rgba(0, 0, 0, 0.5);

}

.container h1 {
    text-align: center;
    color: #fafafa;
    font-family: 'nunito', sans-serif;
}

.container label {
    font-family: 'nunito', sans-serif;
    color: #fafafa;
}

.container input {
    outline: none;
    margin: 12px 0;
    border-radius: 50px;
    width: 100%;
    padding: 8px 15px;
    background-color: #393e46;
    border: 1px solid #fafafa;
    font-family: 'nunito', sans-serif;
    color: #fafafa;
    font-size: 1.2rem;
}

.container button {
    outline: none;
    margin: 15px 0;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    color: #fafafa;
    background: #393e46;
    border: none;
    transition: .4s;
    font-family: 'nunito', sans-serif;
    box-shadow: -2px -2px 8px rgba(220, 220, 220, 0.3), 5px 5px 8px rgba(0, 0, 0, 0.5);

}

.container button:active {

    box-shadow: 5px 5px 8px rgba(220, 220, 220, 0.3), -2px -2px 8px rgba(0, 0, 0, 0.5);
}